edit-room-tables{
    .con-bg{
        background: $bgColor;
        .images{
            width: 100%;
            .img-list{
                width: 100%;
                padding: 10px 0 0px;
                .add-img{
                    width: 80px;
                    height: 80px;
                    float: left;
                    margin-right: 10px;
                    margin-top: 5px;
                    border: 1px solid #d2d2d2;
                    line-height: 75px;
                    text-align: center;
                    .add-img-icon{
                        font-size: 50px;
                        color: #d2d2d2;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        .add{
            margin: 16px;
            line-height: 45px;
            text-align: center;
            border-radius: 5px;
            background: $themeColor;
            color: #fff;
            font-size: 16px;
        }
        .delete{
            margin: 16px;
            line-height: 45px;
            text-align: center;
            border-radius: 5px;
            background: #f53d3d;
            color: #fff;
            font-size: 16px;
        }
    }
  .business-item ion-label {
    white-space: normal;
  }
  .business-btn {
    display: inline-block;
    border: 1px solid;
    padding: .3rem 1rem .3rem;
    border-radius: 4px;
    color: #ddd;
    margin: .4rem;
  }
  .business-btn.active {
    background-color: #3da2fa;
    color: #fff;
    border-color: #3da2fa;
  }
}
