ready-name{
    .already{
        text-align: center;
        .al-ready{
            font-size: 20px;
            margin-top: 50px;
            color: red;
        }
        .al-con{
            font-size: 16px;
            margin-top: 20px;
            .al-list{
                margin-top: 10px;
            }
        }
    }
}