page-shops-manage {
  .menu-box {
    background-color: #fff;
    border-radius: 4px;
    line-height: 12rem;
    margin: 10px;
    text-align: center;
    font-size: 1.6rem;
  }
  .edit-menu-icon button {
    font-size: 1.4rem;
  }
}
