page-financials-find {
  .border-input {
    border: 1px solid #bfbfbf;
  }
  .label-input {
    font-size: 1.7rem;
  }
  .select-time {
    //background-color: #fff;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
}
