page-financials-list {
  .order-info {
    border-top: 1px solid #bfbfbf;
    padding-top: 1rem;
  }
  .footer-panel {
    width: 90%;
    margin: 1rem auto;
    padding: 1rem;
    background-color: #3da2fa;
    border-radius: 40px;
  }
  .text {
    color: #fff;
    font-size: 1.6rem;
  }

}
