<ion-header class="header-light">
    <ion-navbar color="primary">
        <ion-title>明细</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="con-bg">
    <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="defaultType" (click)="tabClick()">
            <ion-segment-button *ngFor="let item of menuType" value="{{item.id}}">
            {{item.title}}
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
    <div class="no-shops" *ngIf="detailsList.length < 1">
        <img src="assets/imgs/no-shops.png" alt="">
        <p>空空如也~</p>
    </div>
    
    <ion-list no-lines class="ion-list">
        <ion-item *ngFor="let detail of detailsList">
            <ion-thumbnail item-start class="ion-icon">
                <div class="{{detail.type == 0 ? 'desc' : 'add'}}">{{detail.type == 0 ? '支' : '收'}}</div>
            </ion-thumbnail>
            <h2>编号：{{detail.serial_number}}</h2>
            <p>{{detail.created_at}}</p>
            <div clear item-end class="{{detail.type == 0 ? 'desc-money' : 'add-money'}}">{{detail.type == 0 ? '-' : '+'}}{{detail.work_capital}}元</div>
        </ion-item>
    </ion-list>
    <!-- <ion-list no-lines class="ion-list">
        <ion-item>
            <ion-thumbnail item-start class="ion-icon">
                <div class="desc">支</div>
            </ion-thumbnail>
            <h2>My Neighbor Totoro</h2>
            <p>Hayao Miyazaki • 1988</p>
            <div clear item-end class="desc-money">-100元</div>
        </ion-item>
    </ion-list> -->
</ion-content>