<ion-header>
  <ion-navbar color="primary">
    <ion-title text-center>菜品列表</ion-title>
    <div class="dish-class" (click)="dishesClass()" >
      菜单分类
    </div>
  </ion-navbar>
</ion-header>

<ion-content class="con-bg">
  <ion-list *ngFor="let menu of dishesList; let i=index" no-lines>
    <div>
      <ion-list-header >
        {{menu.menu_name}}
      </ion-list-header>
      <ion-item-sliding (click)="editDishes(shops.id)" *ngFor="let shops of menu.shopdish">
        <ion-item>
          <ion-thumbnail item-start>
            <img src="{{serverUrl}}{{shops.thumb}}">
          </ion-thumbnail>
          <ion-label>
              <h2>{{shops.dishes_name}}</h2>
              <p class="discount-price">折后价：{{shops.discount_price}}元</p>
              <p class="price">原价：{{shops.price}}元</p>
          </ion-label>
          <!-- <div class="use" item-end>
            <ion-toggle  [(ngModel)]="shops.status" (ionChange)="toggleFun($event)"></ion-toggle>
          </div> -->
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary" (click)="delete($event,shops.id)">
            <ion-icon name="mail"></ion-icon>
            删除
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </div>
  </ion-list>
  <div class="padding-bottom"></div>
  <div class="addDishes" (click)="addDishes()">添加菜式</div>
</ion-content>
