<ion-header>
  <ion-navbar color="primary">
    <ion-title text-center>订单管理</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="con-bg">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="刷新中..."></ion-refresher-content>
  </ion-refresher>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="defaultType" (click)="seeOrders()">
      <ion-segment-button *ngFor="let item of menuType" value="{{item.id}}">
        {{item.title}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="defaultList" (click)="seeOrders()">
      <ion-segment-button *ngFor="let item of menuList" value="{{item.id}}">
        {{item.title}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div class="orders" >
    <div class="orders-list" (click)="listDetail(orders.id)" *ngFor="let orders of ordersList">
      <ion-list no-lines>
        <ion-item>订单号：{{orders.order_number}}
          <div item-end class="time">{{orders.created_at}}</div>
        </ion-item>
      </ion-list>
      <div class="orders-con">
        <div class="list clearfix">
          <div class="list-left">菜式</div>
          <div class="list-right">炒粉x1</div>
        </div>
        <div class="list clearfix">
          <div class="list-left">付款金额</div>
          <div class="list-right">{{orders.order_amount}}</div>
        </div>
        <div class="list clearfix">
          <div class="list-left">下单人</div>
          <div class="list-right">{{orders.order_address.name}}</div>
        </div>
        <div class="list clearfix">
          <div class="list-left">联系方式</div>
          <div class="list-right">{{orders.order_address.mobile}}</div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
