// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//字体
.f30 {
  font-size: 1.5rem;
}
.f36 {
  font-size: 1.8rem;
}
.f40 {
  font-size: 2rem;
}
.f48 {
  font-size: 2.4rem;
}

//边框
.no-border {
  border: 0 none!important;
}

// 背景颜色
.bg-f6 {
  background-color: #f6f6f6;
}
// 菜单上的加号
.add-menu-icon {
  padding: 0 4px;
  border-radius: 4px;
  height: 32px;
  border: 0;
  font-size: 2.4rem;
  min-height: 3.2rem;
}
.no-shops {
  text-align: center;
  padding-top: 8.3rem;
}
// 页面适配
// 根元素大小使用 vw 单位
// $vm_fontsize: 37.5; // 是$vm_design 值得十分之一
// $vm_design: 375; // 根据需要替换成设计稿的值,比如设计稿给你的宽度是360px,
// html {
//   font-size: ($vm_fontsize / $vm_design/3.5) * 100vw; // 同时，通过Media Queries 限制根元素最大最小值
// }

