page-me {
    .bg{
        background: #f0f0f0
    }
    .bar-light{
        background: #fff
    }
    .list-header-img{
        padding: 20px
    }
    .my-icon{
        font-size: 20px;
        line-height: 34px;
        color: #cccccc
    }
    .list-ion{
        margin: 5px 0 0px;
        color: #0e0d0d
    }
    .list-ion-mar{
        margin: 1px 0 0px;
        color: #0e0d0d
    }
    .list-mess{
        margin: -1px 0 10px;
    }
    .iconfont{
        font-size: 34px;
        color: #3da2fa;
        margin: 10px 10px 8px 0 !important;
    }
}