<ion-header>
  <ion-navbar color="primary">
    <ion-title text-center>房桌管理</ion-title>
    <ion-buttons end class="add-menu-icon" >
      <button ion-button icon-only (click)="addRoomTablesPage()">
        <ion-icon  color="white" name="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="con-bg">
    <ion-toolbar no-border-top>
      <ion-segment [(ngModel)]="defaultTitle">
        <ion-segment-button *ngFor="let item of shopsList" value="{{item.title}}" (click)="clickList(item.id)">
          {{item.title}}
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  <!-- 没有房间 -->
  <div class="no-shops" *ngIf="shopsList.length < 1">
    <img src="assets/imgs/no-shops.png" alt="">
    <p>空空如也~</p>
  </div>

  <!-- 有房间 -->
  <div class="room" *ngIf="shopsList.length > 0">
    <ion-list>
      <ion-item>
        房间名
        <span item-end class="use">使用中</span>
        <div item-end class="iconfont icon-app-menu list-icon" (click)="handleRoom()"></div>
      </ion-item>
      <ion-item>
        房间名
        <span item-end class="use">已预订</span>
        <div item-end class="iconfont icon-app-menu list-icon" (click)="handleRoom()"></div>
      </ion-item>
      <ion-item>
        房间名
        <span item-end class="use">禁用</span>
        <div item-end class="iconfont icon-app-menu list-icon" (click)="handleRoom()"></div>
      </ion-item>
    </ion-list>
  </div>
  
  <!-- <div class="module">
    <div class="close">
      <div class="iconfont icon-guanbi"></div>
    </div>
    <div class="module-con">
      <div class="module-item">
          <div class="iconfont icon-guanbi"></div>
      </div>
    </div>
  </div> -->
</ion-content>
