page-roomtables-list {
    .no-shops {
        text-align: center;
        padding-top: 8.3rem;
      }
      .no-shops img {
        width: 11.1rem;
        height: 9.3rem;
      }
      .no-shops p {
        color: #bfbfbf;
      }
    .con-bg{
        background: $bgColor;
        .toolbar-background-ios{
            background: #fff;
        }
        .room{
            // border-top: 1px solid #c8c7cc;
            .use{
                font-size: 14px;
                color: #999;
            }
            .list-icon{
                font-size: 25px;
                color: #000;
            }
        }
    }
    .see-code {
      color: #fff;
    }
}
