<ion-header>
  <ion-navbar color="primary">
    <ion-title text-center>房桌管理</ion-title>
    <ion-buttons end class="add-menu-icon" >
      <button ion-button icon-only (click)="addRoomTablesPage()">
        <ion-icon  color="white" name="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="con-bg">
  <div class="room-info" padding text-center>
    <div class="info">
      <ion-badge class="success">·</ion-badge><b>空的</b>
    </div>
    <div class="info">
      <ion-badge class="danger">·</ion-badge><b>占用中</b>
    </div>
    <div class="info">
      <ion-badge class="warning">·</ion-badge><b>预定中</b>
    </div>
  </div>

  <ion-grid>
    <ion-list>
      <ion-list-header class="header">包间</ion-list-header>
    </ion-list>

    <ion-row>
      <ion-col col-4 *ngFor="let item of roomList" (click)="handleRoom($event, item.id)">
        <div class="box" [class.success]="item.is_use == 0" [class.danger]="item.is_use == 1" [class.warning]="item.is_use == 2">
          <span>{{item.name}}</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="mt-10">
    <ion-list>
      <ion-list-header class="header">桌子</ion-list-header>
    </ion-list>

    <ion-row>
      <ion-col col-4 *ngFor="let item of tableList" (click)="handleRoom($event, item.id)">
        <div class="box round" [class.success]="item.is_use == 0" [class.danger]="item.is_use == 1" [class.warning]="item.is_use == 2">
          <span>{{item.name}}</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>

<ion-footer>
  <ion-navbar color="primary">
    <p text-center class="see-code" (click)="seeCode()">查看二维码</p>
  </ion-navbar>
</ion-footer>
