<ion-header>
  <ion-navbar color="primary">
    <ion-title text-center>房桌管理</ion-title>
    <ion-buttons end class="add-menu-icon" >
      <button ion-button icon-only (click)="addRoomTablesPage()">
        <ion-icon  color="white" name="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="con-bg">
  <ion-row>
    <ion-col col-9 text-right>
      <ion-datetime cancelText="取消" doneText="确定" displayFormat="YYYY-MM-DD HH:mm" pickerFormat="MM DD HH mm" min="{{nowDate}}" [(ngModel)]="timeStarts" (ngModelChange)="getRoomTableList(timeStarts)"></ion-datetime>
    </ion-col>
    <ion-col col-3>
      <button ion-button small clear class="refresh-btn" (click)="refreshTime()">
        <ion-icon name="ios-refresh" class="refresh-icon"></ion-icon>
      </button>
    </ion-col>
  </ion-row>

  <div class="room-info" padding text-center>
    <div class="info">
      <ion-badge class="success">·</ion-badge><b>空闲中</b>
    </div>
    <div class="info">
      <ion-badge class="danger">·</ion-badge><b>占用中</b>
    </div>
    <div class="info">
      <ion-badge class="warning">·</ion-badge><b>预定中</b>
    </div>
  </div>

  <ion-grid>
    <ion-list>
      <ion-list-header class="header">包间</ion-list-header>
    </ion-list>

    <ion-row>
      <ion-col col-4 *ngFor="let item of roomList" (click)="handleRoom($event, item.id, item.is_use)">
        <div class="box" [class.success]="item.is_use == 0" [class.danger]="item.is_use == 1" [class.warning]="item.is_use == 2">
          <span>{{item.name}}</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="mt-10">
    <ion-list>
      <ion-list-header class="header">桌子</ion-list-header>
    </ion-list>

    <ion-row>
      <ion-col col-4 *ngFor="let item of tableList" (click)="handleRoom($event, item.id)">
        <div class="box round" [class.success]="item.is_use == 0" [class.danger]="item.is_use == 1" [class.warning]="item.is_use == 2">
          <span>{{item.name}}</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>

<div class="popover-content do-order" *ngIf="isDoOrder == true">
  <ion-navbar color="primary">
    <ion-title text-center>电话预定</ion-title>
    <ion-buttons end class="add-menu-icon" >
      <button ion-button icon-only (click)="hidePopover()">
        取消
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-list>
    <ion-item>
      <ion-label>预定时间</ion-label>
      <ion-datetime cancelText="取消" doneText="确定" displayFormat="YYYY-MM-DD HH:mm" pickerFormat="MM DD HH mm" min="{{nowDate}}" [(ngModel)]="orderTime"></ion-datetime>

    </ion-item>
    <ion-item>
      <ion-label>姓名</ion-label>
      <ion-input placeholder="请输入姓名" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>手机号</ion-label>
      <ion-input  placeholder="请输入手机号" [(ngModel)]="phone"></ion-input>
    </ion-item>
  </ion-list>
  <div padding >
    <button ion-button block (click)="doOrder()">提交</button>
  </div>
</div>

<ion-footer>
  <ion-navbar color="primary">
    <p text-center class="see-code" (click)="seeCode()">查看二维码</p>
  </ion-navbar>
</ion-footer>
