page-roomtables-list {
  .box {
    color: #fff;
    width: 65px;
    height: 65px;
    background-color: #ccc;
    text-align: center;
    line-height: 65px;
    margin: 0 auto;
  }
  .box span {
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
    margin: 5px;
  }
  .round {
    border-radius: 50%;
  }

  .success {
    background-color: #5cb85c;
  }
  .danger {
    background-color: #d9534f;
  }
  .warning {
    background-color: #f0ad4e;
  }
  .header {
    color: #333;
  }
  .mt-10 {
    margin-top: 1rem;
  }
  .room-info div.info {
    display: inline-block;
    margin: 0 10px;
  }
  .room-info div.info b {
    margin-left: 6px;
  }
  .see-code {
    color: #fff;
  }
}
