<ion-header class="header-light">
    <ion-navbar color="primary">
        <ion-title>获取地址</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bg-f6">
  <ion-row>
    <ion-col col-9>
      <input  type="text" id="place" [(ngModel)]="keyword" (ngModelChange)="onkenUp()" placeholder="输入关键字" />
    </ion-col>
    <ion-col col-3 text-center>
      <button ion-button (click)="clearKeyword()">清除</button>
    </ion-col>
  </ion-row>
  <ion-scroll scrollY="true" class="scroll">
    <ion-list class="address-list">
      <ion-item *ngFor="let item of list" (click)="checkSelect(item.address, item.name)">
        <p>{{item.name}}</p>
        <p *ngIf="item.address">{{item.address}}</p>
      </ion-item>
    </ion-list>
  </ion-scroll>

</ion-content>
